<menubar>
  <menu label="Postiqex">
    <item onclick="quit">Quit</item>
  </menu>
  <menu label="View">
    <item onclick="notification">Show Notification</item>
    <item onclick="dashboard">Show Dashboard</item>
    <item onclick="browser">Open Browser</item>
  </menu>
</menubar>
